{% extends 'base.html.twig' %}
{% block title %}New post{% endblock %}
{% block body %}
<div class="my-14">
        <h1 class="text-4xl">New blog post</h1>
        <div class="w-full">
                {{ form_start(myNewPostForm)}}
                {# odpowiednik <label></label> #}
                {# tu: title dot. parametru name przyszłego inputa+ musi być zgodny z tym co zbudowalismy w builderze w
                Form\fileType.php (?) #}
                {{ form_label(myNewPostForm.title , 'Post title' ,
                { 'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}
                )}}

                {# Deklarujemy zmienną error #}
                {% set title_error = form_errors(myNewPostForm.title) ? 'border-red-500' : ''%}

                {# input z atrybutami #}
                {{ form_widget(myNewPostForm.title ,
                {'attr' :
                {'class': (title_error)~'shadow appearance-none border rounded w-full py-2 px-3
                text-gray-700
                mb-2 leading-tight focus:outline-none focus:shadow-outline' ,
                'value' : '' ,
                'placeholder' : 'write post title here'}})}}

                {# obłsuga błędów #}
                {% if myNewPostForm.title.vars['errors'] | length > 0 %}
                <p class="text-red-500 text-xs italic">
                        {% for error in myNewPostForm.title.vars
                        ['errors'] %}
                        <span>{{ error.message }}</span>
                        {% endfor %}
                </p>
                {% endif %}

                {# kolejny label #}
                {{ form_label(myNewPostForm.content , 'Post Content' ,
                { 'label_attr' : {'class' : 'block text-gray-700 font-bold mb-2'}})}}

                {# Deklarujemy zmienną error #}
                {% set content_error = form_errors(myNewPostForm.title) ? 'border-red-500' : ''%}

                {{ form_widget(myNewPostForm.content , { 'attr' : {
                'class' : (content_error)~'drop-shadow-lg w-full h-60 p-4 border focus:outline-none
                focus:shadow-outline'
                , 'value' : '' , 'placeholder' : 'write content here'
                }})}}

                {# obłsuga błędów #}
                {% if myNewPostForm.content.vars['errors'] | length > 0 %}
                <p class="text-red-500 text-xs italic">
                        {% for error in myNewPostForm.content.vars
                        ['errors'] %}
                        <span>{{ error.message }}</span>
                        {% endfor %}
                </p>
                {% endif %}

                {# Submit btn #}
                {{ form_widget(myNewPostForm.save , { 'attr' : {
                'class' : 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer'
                }})}}




                {{ form_end(myNewPostForm)}}

                {# <form method="POST" action="{{ path('posts.new') }}"
                        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-6">
                                <label class="block text-gray-700 font-bold mb-2" for="post-title">
                                        Post title
                                </label>
                                <input required name="title"
                                        class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-2 leading-tight focus:outline-none focus:shadow-outline"
                                        id="post-title" type="text" placeholder="write post title here"
                                        value="Post title">

                        </div>
                        <div class="mb-6">
                                <label class="block text-gray-700 font-bold mb-2" for="post-content">
                                        Post content
                                </label>
                                <textarea name="content" required id="post-content"
                                        class="drop-shadow-lg w-full h-60 p-4 border border-red-500 focus:outline-none focus:shadow-outline"
                                        placeholder="write post content here">Post content</textarea>
                                <p class="text-red-500 text-xs italic">Error message</p>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
                                type="submit">
                                Save post
                        </button>
                </form> #}
        </div>
</div>
{% endblock %}